@media screen and (max-width: 1199px) {
    .pro3{
    width: 43%;
    }
    .project2{
      width: 43%;
    }
    .pro4{
      width: 90%;
    }
  }
  
  @media screen and (max-width: 992px) {
  .project2 {
    width: 90%;
  }
  
  .pro3{
    width: 43%;
  }
  .pro4{
  width: 43%; 
  justify-content: flex-end;
  }
  
  @media screen and (max-width: 768px) {

  }
  
  @media screen and (max-width: 635px) {
  .card {
    width: 90%;
  }
  .navbar a:not(:first-child) {display: none;}

  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar.responsive {position: relative;}

  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  