* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* all a tags */
a {
  text-decoration: none;
}

/* font-family: 'Courgette', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Source Code Pro', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Gruppo&family=Orbitron&family=Source+Code+Pro&display=swap');

/* custom font */
@font-face {
  font-family: drew;
  src: url(../font/Baunk.ttf) format("truetype");
  src: url(../font/Baunk.otf) format("opentype");
  src: url(../font/Baunk.woff) format("woff")
}



  .navbar {
    background: #5c5c5c; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #5c5c5c 0%, #080808 46%, #010101 50%, #060606 53%, #303030 76%, #232323 87%, #111111 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #5c5c5c 0%,#080808 46%,#010101 50%,#060606 53%,#303030 76%,#232323 87%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #5c5c5c 0%,#080808 46%,#010101 50%,#060606 53%,#303030 76%,#232323 87%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c5c5c', endColorstr='#111111',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    display: block;
    color: #02fe73;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #a8ff36;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .navbar a.active {
    background-color: #01004e;
    color: #02fe73;
  }
  
  /* Hide the link that should open and close the navbar.navbar on small screens */
  .navbar .icon {
    float: left;
    display: none;
  }

/* title */
  .title {
    display: inline-block;
    padding-top: 10px ;
    color: #04AA6D;
    margin-left: 20px;
    font-family: drew;
  }

.hero {
  height: 500px;
  display: flex;
  width: 100%;
  background-image: url(../images/wallhaven-lmg57q.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: 'Orbitron', sans-serif;
}

.hero h2{
  color: #01004e;
  text-shadow: 2px 2px #00FFF2;
  font-size: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  }



.float-right {
  float: right;
}

.float-left {
  float: left;
}

.card-holder{
  height: 1200px;
  background-color: #00FFF2;
  background-image: url(../images/download.jfif);
  padding: 20px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

#projects {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-top: 5px;
  display: inline-flex;
  padding: 0;
  width: 75%;
  min-height: calc(100% - 40px);
}

.side {
  min-height: 1050px;
  width: calc(25% - 20px);
  margin: 5px;  
  border-style: solid;
  border-width: 5px;
  border-color: #00FFF2;
  border-radius: 25%;
  border-right: none;
  border-bottom: none;
  border-top: none;
  padding-top: 100px;
  background-image: url(../images/nwQioI.jpg);
}

.side h3{
  color: #07ff87;
  text-align: center;
  font-size: 50px;
  font-family: 'Source Code Pro', monospace;
  text-shadow: 2px 2px #00FFF2;
  
}

.card{
  padding: 20px;
  border: 2px;
  border-color: bisque;
  border-style: ridge;
  position: relative;
  box-shadow: inset 0 0 0 0 #00FFF2;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}



.card-holder a:hover{
  box-shadow: inset 200px 0 0 0 #00FFF2;
}

.card-header{
  font-size: larger;
  color: #00FFF2;
  background-size: contain;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: drew;
  text-shadow: 2px 2px #010101;
}

.project1 {
  height: 400px;
  width: calc(100% - 30px);
  margin: 20px;
  background-image: url(../images/1638160309-1038x720.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pro2 {
  height: 200px;
  width: calc(50% - 40px);
  margin: 20px;
  flex-wrap: wrap;
  background-position: 100%;
  background-image: url(../images/148693716-electronics-circuit-board-background-close-up-photo-.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pro3 {
  height: 200px;
  width: calc(50% - 40px);
  margin: 20px;
  flex-wrap: wrap;
  background-position: 100%;
  background-image: url(../images/507531232-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pro4{
  height: 200px;
  width: 100%;
  margin: 20px;
  background-position: 100%;
  background-image: url(../images/1638160309-1038x720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

/* background fix */
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing: border-box; }

.bckfix:before, .bckfix:after { display: table; content: ''; }
.bckfix:after { clear: both; }




input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}

::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
} 

.mapouter{position:relative;text-align:right;height:500px;width:600px;}

.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}

/* Contact Form  */
.container {
	padding: 0 50px 70px;
  background: #010101;
}

.innerwrap{
  background-color: #010101;
  height: fit-content;
}
.textcenter {
	text-align: center;
}
.contact-title {
	text-align: center;
	display: table;
	width: 100%;
}
.contact-title .shtext {
	display: block;
	margin-top: 60px;
}
.contact-title .seperator {
	border-bottom:1px solid #00FFF2;
	width: 50%;
	display: inline-block;
	margin: 20px;
}

.contact-title h1 {
	font-size: 40px;
	color: #01004e;
	font-weight: normal;
  text-shadow: 2px 2px #00FFF2;
  font-family: drew;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
	width: 48.71%;
}
.section2 .col2.first {
	float: left;
}
.section2 .col2.last {
	float: right;
}
.section2 .col2.column2 {
	padding: 0 30px;
}
.section2 span.collig {
	color: #a2a2a2;
	margin-right: 10px;
	display: inline-block;
}
.section2 .sec2addr {
	display: block;
	line-height: 26px;
}
.section2 .sec2addr p:first-child {
	margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"], 
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform textarea {
    padding: 18px;
    border: 0;
    background: #EDEDED;
    margin: 7px 0;
}
.section2 .sec2contactform textarea {
	width: 100%;
	display: block;
	color: #666;
  resize:none;
}
.section2 .sec2contactform input[type="submit"] {
	padding: 15px 40px;
    color: #fff;
    border: 0;
    background: #A44DD8;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
	font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}


